{% macro render_form(form, url)%}
<form method="POST" action="{{ url }}">

    {% for field in form %}
        {% if field.type == 'CSRFTokenField' %}
        {{ field.csrf_token }}
        {% elif field.type == 'SubmitField' %}
        {{ field(class='btn btn-primary',type='submit')}}
        {% elif field.type == 'BooleanField' %}
        <div class="checkbox">
            <label>{{field()}}{{ field.label.text }}</label>
        </div>
        {% else %}
        <div class="form-group {% if field.errors %}has-error{% endif %}" > 
            {{field.label}} {{ field(class='form-control')}}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class='help-block'>{{error}}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
</form>
{% endmacro %}